<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360596887858-8j8prv6nv3ra3stcfat60p4drpc78bd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360596887858-8j8prv6nv3ra3stcfat60p4drpc78bd6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>360596887858-a90stdroi17j4jt5rahf26kkl76d50r6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfNbQR7Wf-LyTLXgKS5RvJzLw3FIj77AQ</string>
	<key>GCM_SENDER_ID</key>
	<string>360596887858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.widblack.jadechat</string>
	<key>PROJECT_ID</key>
	<string>jade-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>jade-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360596887858:ios:74f39ac40068812e06df2b</string>
	<key>DATABASE_URL</key>
	<string>https://jade-chat-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>